<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= _.humanize(projectName) %> - 404</title>
    <meta name="description" content="Page could not be found">
    
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <main>
        <h1>Oh dear. Something broke!</h1>
        <p>The page you're looking for has disappeared. Try <a href="/">heading to the homepage</a> to find what you're looking for.</p>
    </main>
</body>
</html>