<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title><%= _.humanize(projectName) %></title>
    <meta name="description" content="------ PAGE DESCRIPTION ------">
    
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'>

    <!-- Schema.org markup for Google --> 
    <meta itemprop="name" content="<%= _.humanize(projectName) %>" /> 
    <meta itemprop="description" content="------ PAGE DESCRIPTION ------" /> 
    <meta itemprop="image" content="------ ABSOLUTE URL TO SOCIAL IMAGE ------" />

    <!-- Twitter Card data --> 
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content="<%= _.humanize(projectName) %>" /> 
    <meta property="twitter:description" content="------ PAGE DESCRIPTION ------" /> 
    <meta property="twitter:creator" content="------ TWITTER HANDLE OF AUTHOR ------" />
    <meta property="twitter:image" content="------ ABSOLUTE URL TO SOCIAL IMAGE ------" />
    <meta property="twitter:url" content="------ ABSOLUTE URL TO WEBSITE ------" />
        
    <!-- Open Graph data --> 
    <meta property="og:title" content="<%= _.humanize(projectName) %>" />
    <meta property="og:url" content="------ ABSOLUTE URL TO WEBSITE ------" />
    <meta property="og:image" content="------ ABSOLUTE URL TO SOCIAL IMAGE ------" />
    <meta property="og:description" content="------ PAGE DESCRIPTION ------" /> 
    <meta property="og:site_name" content="" /> 
    <meta property="article:published_time" content="2015-01-00T00:00:00+01:00" /> 
    <meta property="article:modified_time" content="2015-01-00T00:00:00+01:00" />
    
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="./app/lib/modernizr/modernizr-custom.js"></script>
</head>
<body>
    
<header id="page-header" role="banner">
    
</header>

<main role="main">
   
</main>
    
<footer id="page-footer">
    
</footer>
    
<script src="./app/build.js"></script>

</body>
</html>